{{#multiselect-checkboxes
  tagName="div"
  options=property.validValues
  onchange=(action 'update')
  selection=value
  disabled=property.readonly
  name=key
  updateSelectionValue=false as |option selected|}}

  {{#paper-checkbox value=selected onChange=(action (mut selected)) disabled=property.readonly}}
    <span>{{option}} {{recommended-label value=option property=property}}</span>
  {{/paper-checkbox}}
  
{{/multiselect-checkboxes}}



